.wrapper, .content_wrapper {
  border: 2px solid #61D2F5;
}

.wrapper {
  width: 245px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px;
}

.content_wrapper {
  height: 100px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.value_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.value_content p {
  font-size: 16px;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 50px;
  align-items: center
}

.hidden {
  display: none;
}

.value {
  font-size: 40px;
  color: #61D2F5;
}

.red {
  color: red;
  font-weight: bold;
}

p {
  font-size: 20px;
  color: #61D2F5;
}

